/* ===== GENERAL ===== */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#eef3ff;
}

.container{
    width:1100px;
    margin:auto;
}

/* HEADER */
header{
    background:white;
    padding:15px 0;
}

.brand{
    display:flex;
    align-items:center;
    gap:15px;
}

.school-logo{
    height:120px;
}

.school-text h1{
    margin:0;
    font-size:50px;
    color:#135904;
}

.school-text span{
    font-size:30px;
    color:#58a605;
}

.logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.search input{
    padding:8px;
    border-radius:20px;
    border:1px solid #ccc;
}

/* CONTACT BAR */
.contact-bar{
  display:flex;
  align-items:center;
  gap:25px;
  flex-wrap:wrap;
  background:#fff;
  padding:10px;
  margin-top:8px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.contact-item{
  display:flex;
  align-items:center;
  gap:8px;
}

.red{color:red;}
.green{color:green;}

.contact-bar a.icon{
  display:flex;
  justify-content:center;
  align-items:center;
  width:42px;
  height:42px;
  border-radius:50%;
  color:white;
  text-decoration:none;
  transition:0.3s;
}

.facebook{ background:#1877f2; }
.website{ background:#6c757d; }
.youtube{ background:#ff0000; }

.contact-bar a.icon:hover{
  transform:scale(1.15);
}

/* NAVBAR */
nav{
    background:#1fa087;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

nav li{
    padding:15px 25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav li:hover{
    background:#17806c;
}

/* HERO */
.hero img{
    width:100%;
    border-radius:10px;
    margin-top:15px;
}

/* MAIN */
.main{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.sidebar{
    width:260px;
}

.card{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
}

.card h3{
    color:white;
    padding:10px;
    border-radius:10px;
}

.news h3{ background:#9acb34; }
.diary h3{ background:#4bb5c1; }

.content{
    flex:1;
    background:white;
    padding:20px;
    border-radius:12px;
}

.content h2{
    background:#1fa087;
    color:white;
    padding:12px;
    border-radius:10px;
}

.content img{
    width:200px;
    float:left;
    margin-right:15px;
    border-radius:10px;
}

/* FOOTER */
footer{
    margin-top:30px;
    background:#1fa087;
    color:white;
    padding:25px 0;
}

footer .container{
    display:flex;
    justify-content:space-between;
}

/* BUTTON GRID */
.button-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin-top:25px;
}
.button-grid a{
  text-decoration:none;
  background:linear-gradient(#226578,#226578,#226578);
  color:white;
  padding:20px;
  text-align:center;
  border-radius:10px;
  font-size:16px;
  transition:.3s;
}
.button-grid a:hover{
  transform:scale(1.05);
  box-shadow:0 6px 15px rgba(0,0,0,.25);
}